@import "map-icons.css";

$color-primary: #337ab7;
$color-warning: #ed984c;
$color-danger: #9b1003;
$color-success: #2e753f;
$color-grey: #b3b3b3;

// mixins

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

html, body {
    background-color: #eeeeee;
}

body {
    //background-color: #f6f6f6;
    margin: 0;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    height: 100%;
    padding-top: 70px;
    //padding-bottom: 50px;
}

hr {
    border-top: 1px solid lightgrey;
}

.navbar-fixed-bottom {
    background-color: lightgrey;
    color: grey;
    text-align: center;
    font-size: 12px;
    margin-top: 60px;
    margin-bottom: -26px;
    padding: 3px;
    border-top: 1px solid darken(lightgrey, 5%);
    height: 24px !important;
    a {
        color: grey;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
}

.header-container {
    &.color-primary {
        background-color: $color-primary;
        color: #FFFFFF;
        .small,
        small {
            color: lighten($color-primary, 20%);
        }
    }
    &.color-lightgrey {
        background-color: #d3d3d3;
        color: #333;
        .small,
        small {
            color: lighten($color-primary, 20%);
        }
    }

    margin-top: -20px;
    padding: 15px 0 0 0;


    @media only screen and (max-width: 768px) {
        text-align: center;
        .text-right {
            text-align: center !important;
        }
    }

    .header-title {
        margin: 0;
        font-size: 36px;
        font-weight: bold;

        ul.list-inline {
            vertical-align: text-top;
            display: inline-block;
            text-align:left;
            margin-bottom: 0;
            > li.avatar.label-bottom .label {
                color: #FFFFFF;
                font-size: 12px;
                font-weight: normal;
                display: block;
            }
        }
    }
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

button.btn-primary a {
    color: #f2f2f2;
}
button.btn-primary a:hover {
    color: #FFF;
    text-decoration: none;
}

.btn-calltoaction {
    margin: 5px 0 15px 0;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(79,79,79,0.65);
    -moz-box-shadow: 0px 0px 10px 0px rgba(79,79,79,0.65);
    box-shadow: 0px 0px 10px 0px rgba(79,79,79,0.65);
    transition: all 0.3s ease;
    z-index: 99;

    &:hover {
        .glyphicon {
            opacity: 1;
            transition: all 0.3s ease;
        }
    }

    .glyphicon {
        color: #FFFFFF;
        opacity: 0.5;
        top: 1px;
    }
    .btn-text {
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        padding-left: 10px;
        margin-left: 5px;
        font-size: 20px;
        color: #FFFFFF;
    }

    &.btn-default {
        .glyphicon {
            color: #333;
        }
        .btn-text {
            border-left: 1px solid rgba(145, 145, 145, 0.25);
            color: #666;
        }
    }

    @media only screen and (max-width: 768px) {
        position: fixed;
        bottom: 30px;
        right: 20px;
    }

}


.row-no-padding {
    & > .col-md-12 {
        padding-right: 0;
        padding-left: 0;
    }
}

// adapation of the font
.glyphicon {
    top: 2px;
}
.close {
    font-size: 32px;
    font-weight: normal;
    line-height: 15px;
}


// Box
.box {
    position: relative;
    padding: 0 15px 15px;
    margin-bottom: 15px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(179,179,179,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(179,179,179,0.2);
    box-shadow: 0px 0px 3px 0px rgba(179,179,179,0.2);

    .box-header {
        margin: 0px -15px 0px -15px;
        padding: 15px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        .h2.box-title,
        h2.box-title {
            text-align: left;
            margin: 15px 0 15px 0;

            a {
                font-size: 36px;
                font-weight: bold;
                transition: all 0.3s ease;
                &:hover,
                &:visited,
                &:active,
                &:focus,
                &:visited {
                    text-decoration: none;

                }
            }
        }
    }
    .users {
        position: absolute;
        right: 0;
        bottom: 40px;
    }

    .box-footer {
        margin: 0 -15px -15px -15px;
        border-top: 1px solid #e7e7e7;
        padding: 15px;
        background-color: #f8f8f8;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        @media only screen and (max-width: 992px) {
            border-top: 1px solid #e7e7e7;
        }
        h3 {
            margin: 0;
        }

        &.status-1 {
            color: $color-primary;
        }
        &.status-2 {
            color: $color-danger;
        }
        &.status-3 {
            color: $color-warning;
        }
        &.status-4 {
            color: $color-success;
        }
        &.status-5 {
            color: #000000;
        }
    }
}

// color-primary
.color-primary {
    color: white;
    background-color: $color-primary;
    a {
        color: lighten($color-primary, 30%);
        &:hover {
            color: white;
        }
    }
    .btn-link {
        color: white;
    }
    .close {
        color: white;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}

.color-lightgrey {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}


.modal {
    .modal-header {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        .close {
            text-shadow: none;
        }
    }
    .modal-footer {
        background-color: #f8f8f8;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.payment-list {
    ul.refine {
        & > li:last-child {
            border-bottom-width: 2px;
        }
    }

}



// Avatar (Users)

.avatar-list {
    .col-md-12 {
        padding: 5px 0px;
        border-bottom: 1px solid #e7e7e7;
        &:last-child {
            border-bottom: none;
        }
        @media only screen and (max-width: 992px) {
            border-bottom: none;
        }
        .btn {margin-top: 3px;}
        &.checkbox-inside {
            padding-left: 30px;
        }
    }
}

.avatar {
    &.label-bottom {
        width: 50px;
        padding: 0 5px;
        text-align: center;
        .avatar-img {
            width: 40px;
        }
        .avatar-name {
            width: 100%;
            font-weight: bold;
        }
        input[type='checkbox'] {
            width: 100%;
            margin-left: 10px;
            margin-top: -10px;
        }
        .label {
            margin-top: 3px;
            display: inherit;
            max-width: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #333;
        }
    }
    &.label-right {
        width: 100%;
        padding: 0 5px;
        text-align: center;
        .avatar-img {
            margin-top: 0;
            float: left;
            width: 40px;
        }
        .avatar-name {
            float: left;
            margin: 10px;
        }
        input[type='checkbox'] {
            left: 35px;
            top: 16px;
        }

    }

    .avatar-add {
        border: 2px dotted darken($color-primary, 10%);
        height: 35px !important;
        width: 35px !important;
        margin: 0px auto 3px;
        border-radius: 20px;
        background-color: white;
        //opacity: 0.8;
        &:before {
            content: "+";
            font-size: 22px;
            color: darken($color-primary, 10%);
            font-weight: bold;
        }
    }

    input[type=checkbox] {
        + .avatar-img {
            opacity: 0.3;
            + .avatar-name {
                color: #c4c4c4;
            }
        }
    }

    input[type=checkbox]:checked {
        + .avatar-img {
            opacity: 1;
            + .avatar-name {
                color: #333;
                font-weight: bold;
            }
        }
    }
}

.avatar-img {
    width: 40px;
    margin-top: 5px;
    &.circle {
        border-radius: 20px;
    }
}

label[for='avatar-1']{
    background: url("../files/Users/avatars/avatar-1.png");
}
label[for='avatar-2']{
    background: url("../files/Users/avatars/avatar-2.png");
}
label[for='avatar-3']{
    background: url("../files/Users/avatars/avatar-3.png");
}
label[for='avatar-4']{
    background: url("../files/Users/avatars/avatar-4.png");
}
label[for='avatar-5']{
    background: url("../files/Users/avatars/avatar-5.png");
}
label[for='avatar-6']{
    background: url("../files/Users/avatars/avatar-6.png");
}
label[for='avatar-7']{
    background: url("../files/Users/avatars/avatar-7.png");
}
label[for='avatar-8']{
    background: url("../files/Users/avatars/avatar-8.png");
}
label[for='avatar-9']{
    background: url("../files/Users/avatars/avatar-9.png");
}
label[for='avatar-10']{
    background: url("../files/Users/avatars/avatar-10.png");
}
label[for='avatar-11']{
    background: url("../files/Users/avatars/avatar-11.png");
}
label[for='avatar-12']{
    background: url("../files/Users/avatars/avatar-12.png");
}
label[for='avatar-13']{
    background: url("../files/Users/avatars/avatar-13.png");
}
label[for='avatar-14']{
    background: url("../files/Users/avatars/avatar-14.png");
}
label[for='avatar-15']{
    background: url("../files/Users/avatars/avatar-15.png");
}
label[for='avatar-16']{
    background: url("../files/Users/avatars/avatar-16.png");
}
label[for='avatar-17']{
    background: url("../files/Users/avatars/avatar-17.png");
}
label[for='avatar-18']{
    background: url("../files/Users/avatars/avatar-18.png");
}
label[for='avatar-19']{
    background: url("../files/Users/avatars/avatar-19.png");
}
label[for='avatar-20']{
    background: url("../files/Users/avatars/avatar-20.png");
}
label[for='avatar-21']{
    background: url("../files/Users/avatars/avatar-21.png");
}
label[for='avatar-22']{
     background: url("../files/Users/avatars/avatar-22.png");
}

label[for*='avatar-']{
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 5px 0;
}


input[type=radio].avatar {
    margin: 45px 20px 5px 20px;
}

@media only screen and (max-width: 768px) {

    nav form.form-inline {
        margin-top: 12px;
    }
    nav form.form-inline .col-lg-12  {
        padding-right: 0;
        padding-left: 0;
    }
}

a.glyphicon-btn {
    display: inline-block;
    cursor: pointer;
    cursor: hand;
}

.map-icon {
    font-size: 18px;
}

/* PLAN : Actions */
.actions {
    .actions-day {
        border-top: 1px solid #CCCCCC;
        .actions-date {
            margin-top: 40px;
            font-size: 32px;
            color: #a3a3a3;
        }
    }
}

.action {
    line-height: 1em;
    margin: 40px 0 15px 0;

    .dotIcon {
        width: 12px;
        height: 12px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #666666;
        background: #FFF;
        display: block;
        margin: 3px auto;
        z-index: 2;
        position: relative;

        &.status-1 {
            border-color: $color-primary;
        }
        &.status-2 {
            border-color: $color-danger;
        }
        &.status-3 {
            border-color: $color-warning;
        }
        &.status-4 {
            border-color: $color-success;
        }
        &.status-5 {
            border-color: $color-grey;
        }
    }
    .start {
        float: left;
        padding: 0 5px;
    }
    .end {
        float: right;
        padding: 0 5px;
    }

    .time {
        color: gray;
        font-size: smaller;
        height: 20px;
    }
    .icon {

    }
    .name {
        font-size: small;
        min-height: 15px;
    }

    .line {
        position: absolute;
        height: 2px;
        margin: 8px 15%;
        width: 70%;
        z-index: 0;
        .cut {
            height: 16px;
            border-left-width: 2px;
            border-right-width: 2px;
            border-left-style: solid;
            border-right-style: solid;
            background-color: #eeeeee;
            position: absolute;
            top: -7px;
            left: 70%;
            text-align: center;
            padding: 0 3px;
        }
        &.status-1 .cut {
            color: $color-primary;
            border-left-color: $color-primary;
            border-right-color: $color-primary;
        }
        &.status-2 .cut {
            color: $color-danger;
            border-left-color: $color-danger;
            border-right-color: $color-danger;
        }
        &.status-3 .cut {
            color: $color-warning;
            border-left-color: $color-warning;
            border-right-color: $color-warning;
        }
        &.status-4 .cut {
            color: $color-success;
            border-left-color: $color-success;
            border-right-color: $color-success;
        }
        &.status-5 .cut {
            color: #000;
            border-left-color: #000;
            border-right-color: #000;
        }
    }

    .time, .icons, .name {
        line-height: 15px;
        position: relative;
    }
    .map-icon {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: -42px;
        font-size: 32px;
        width: 42px;
    }

    .start, .end {
        text-align: center;
        width: 30%;
        font-size: 15px;
        margin-bottom: 5px;
    }
    &.start-end {
        .start, .end {
            width: 100%;
        }
        .time .start {
            margin-left: -42px;
            margin-top: -9px
        }
        .name .start {
            margin-top: -52px;
            width: 50%;
            text-align: left;
            margin-left: 50%;
            padding-left: 28px;
        }

    }
    .action-name {
        font-size: 16px;
        font-weight: bold;
    }

}

// Budget page
.table-budget {
    th, td {
        text-align: center;
    }
}


/* ICON TYPES */
// Unknown
.map-icon-type-99:before {
    content: "?";
    padding: 0 6px;
    font-weight: bold;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 24px;
    letter-spacing: 2px;
    padding-left: 9px;
}
// flight (map-icon-airport)
.map-icon-type-1:before {
    content: "\e802";
}
// train (map-icon-train-station)
.map-icon-type-2:before {
    content: "\e89d";
}
// taxi (map-icon-taxi-stand)
.map-icon-type-3:before {
    content: "\e899";
}
// car (map-icon-car-rental)
.map-icon-type-4:before {
    content: "\e81c";
}
// bus (map-icon-bus-station)
.map-icon-type-5:before {
    content: "\e817";
}
// boat (map-icon-boat-tour)
.map-icon-type-6:before {
    content: "\e812";
}
// bicycle (map-icon-motobike-trail)
.map-icon-type-7:before {
    content: "\e860";
}
// walking (map-icon-walking)
.map-icon-type-8:before {
    content: "\e8a5";
}
// other transportation
.map-icon-type-9:before {
    content: "T";
    padding: 0 6px;
    font-weight: bold;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 24px;
    letter-spacing: 2px;
    padding-left: 7px;
}
// hotel (lodging)
.map-icon-type-10:before {
    content: "\e85a";
}
// B&B (roofing-contractor)
.map-icon-type-11:before {
    content: "\e87b";
}
// camping (map-icon-campground)
.map-icon-type-12:before {
    content: "\e819";
}
// Other lodging
.map-icon-type-13:before {
    content: "L";
    padding: 0 8px;
    font-weight: bold;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 24px;
}
// restaurant (map-icon-restaurant)
.map-icon-type-20:before {
    content: "\e87a";
}
// drinks (map-icon-night-club)
.map-icon-type-21:before {
    content: "\e866";
}
// Shopping (map-icon-shopping-mall)
.map-icon-type-22:before {
    content: "\e884";
}
// museum (map-icon-museum)
.map-icon-type-23:before {
    content: "\e864";
}
// tour (map-icon-florist)
.map-icon-type-24:before {
    content: "\e83b";
}
// concert/theater (map-icon-movie-theater)
.map-icon-type-25:before {
    content: "\e862";
}
// other activity
.map-icon-type-26:before {
    content: "A";
    padding: 0 5px;
    font-weight: bold;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 24px;
}
// Bank (map-icon-finance)
.map-icon-type-30:before {
    content: "\e80b";
    position:relative;
    left: 2px;
}
// ATM (map-icon-atm)
.map-icon-type-31:before {
    content: "\e808";
}
// Other
.map-icon-type-32:before {
    content: "\e877";
}

.col-arrow {
    position: relative;

    @media only screen and (max-width: 768px) {
        display: none;
    }

    .arrow-line {
        border-bottom: 2px solid #666;
        margin-top: 15px;
        i.arrow.right {
            position: absolute;
            top: 12px;
            right: 14px;
        }
    }
}

.input-group-btn {
    i.arrow {
        border-width: 0 1px 1px 0;
        padding: 2px;
        margin: 2px 0px 3px 8px;
    }
}

ul.refine {
    padding-left: 0;
    & > li {
        padding: 5px 0px;
        border-bottom: 1px solid #e7e7e7;
        list-style-type: none;
    }
}

i.arrow {
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;

    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    &.down {
        transform: rotate(45deg);
    }
}

.map-icon-status {
    padding: 5px;
    border-radius: 6px;
}

.map-icon-btn {
    padding: 0;
    text-align: center;
    margin-bottom: 0;

    .map-icon-button {
        margin: 10px 3px;
        float: left;
        width: 50px;

        .map-icon-name {
            margin-top: 5px;
            line-height: 15px;
        }
        .map-icon {
            font-size: 30px;
            background-color: $color-grey;
            color: white;

            &.status-.active,
            &.status-:hover,
            &.status-0.active,
            &.status-0:hover,
            &.status-1.active,
            &.status-1:hover {
                background-color: $color-primary; // 1 - not priced
            }
            &.status-2.active,
            &.status-2:hover {
                background-color: $color-danger; // 2 - nothing paid
            }
            &.status-3.active,
            &.status-3:hover {
                background-color: $color-warning; // 3 - partially paid
            }
            &.status-4.active,
            &.status-4:hover {
                background-color: $color-success; // 4 - all paid
            }
            &.status-5.active,
            &.status-5:hover {
                background-color: #000000; // 5 - overpaid
            }
        }
        &:hover {
            cursor: pointer;
            cursor: hand;
        }

        li {
            display: initial;
        }
    }
}

.status-0 {
    background-color: $color-grey; // not defined
    color: white;
}
.status-1 {
    background-color: $color-primary; // not priced
    color: white;
}
.status-2 {
    background-color: $color-danger; // nothing paid
    color: white;
}
.status-3 {
    background-color: $color-warning; // partially paid
    color: white;
}
.status-4 {
    background-color: $color-success; // all paid
    color: white;
}
.status-5 {
    background-color: #000000; // overpaid
    color: white;
}

.navigation {
    color: lightgray;
    > a {
        color: white;
        display: inline-block;
    }
}


.message {
    background-color: $color-primary;
    color: #ffffff;
    line-height: 2em;
    width: 100%;
    text-align: center;
}

// Truncate the text after 3 lines
.truncate-2lines {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

// Truncate the text after 1 lines (width need to be defined)
.truncate  {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-lightgrey {
    color: lightgrey;
}

.dropdown-caret:before {
    content: ">";
    display: inline-block;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-left: 0.4em;
}

div.tipPayment {
    font-size: 11px;
    border-bottom: 1px solid #222222;
    padding: 1px 0;
    &:last-child {
        border-bottom: none;
    }
}

.table {
    > tbody,
    > tfoot,
    > thead {
        > tr {
            > td,
            > th {
                vertical-align: middle;
            }
        }
    }
    tr.date-separation > td {
        background-color: #e2e2e2;
        color: #818181;
        font-size: larger;
        padding: 2px;
    }
    tr.sum {
        border-top: 3px solid $color-grey;
    }
}

// Responsive tables (<767px)
@media only screen and (max-width: 768px) {

    // Force table to not be like tables anymore
    .responsive-table,
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr {
        display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)
    .responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table tr {
        border-bottom: 1px solid #ddd;
        padding-top: 15px;
        padding-bottom: 15px;
        &.date-separation {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    .responsive-table,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr:last-child {
        border: none !important;
    }

    .responsive-table td {
        position: relative;
        padding-left: 50% !important;
        &.no-padding-sm {
            padding-left: 6px !important;
            text-align: center;
            &.date {
                font-size: 20px;
            }
        }
        white-space: normal;
        text-align: left;
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
    }

    .responsive-table td:before {
        position: absolute;
        top: 6px;
        left: 0px;
        width: 50%;
        padding-right: 15px;
        overflow: hidden;
        text-align: right;
        font-weight: bold;
        content: attr(data-title);
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .responsive-table input,
    .responsive-table select {
        max-width: 80px;
    }

    .responsive-table > thead > tr > th,
    .responsive-table > thead > tr > td,
    .responsive-table > tbody > tr > th,
    .responsive-table > tbody > tr > td,
    .responsive-table > tfoot > tr > th,
    .responsive-table > tfoot > tr > td {
        padding: 6px;
        //display: table;
        &:before {
            display: table-cell;
            vertical-align: middle;
        }
    }
}




// Google maps
/*FOR GOOGLE MAP*/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 500px;
    width: 100%;
    border: 1px solid darkgray;
}

.controls {
    margin-top: 10px;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
    //border: 1px solid #ccc;
}

#pac-input-start {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    position: relative;

}

#pac-input-end {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-right: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    position: relative;
    @media only screen and (max-width: 768px) {
        margin-top: 50px !important;
    }
}

#pac-input:focus {
    border-color: $color-primary;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: $color-primary;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

