@import url(map-icons.css);
html, body {
  background-color: #eeeeee; }

body {
  margin: 0;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  height: 100%;
  padding-top: 70px; }

hr {
  border-top: 1px solid lightgrey; }

.navbar-fixed-bottom {
  background-color: lightgrey;
  color: grey;
  text-align: center;
  font-size: 12px;
  margin-top: 60px;
  margin-bottom: -26px;
  padding: 3px;
  border-top: 1px solid #c6c6c6;
  height: 24px !important; }
  .navbar-fixed-bottom a {
    color: grey; }
    .navbar-fixed-bottom a:hover {
      color: black;
      text-decoration: none; }

.header-container {
  margin-top: -20px;
  padding: 15px 0 0 0; }
  .header-container.color-primary {
    background-color: #337ab7;
    color: #FFFFFF; }
    .header-container.color-primary .small,
    .header-container.color-primary small {
      color: #77acd9; }
  .header-container.color-lightgrey {
    background-color: #d3d3d3;
    color: #333; }
    .header-container.color-lightgrey .small,
    .header-container.color-lightgrey small {
      color: #77acd9; }
  @media only screen and (max-width: 768px) {
    .header-container {
      text-align: center; }
      .header-container .text-right {
        text-align: center !important; } }
  .header-container .header-title {
    margin: 0;
    font-size: 36px;
    font-weight: bold; }
    .header-container .header-title ul.list-inline {
      vertical-align: text-top;
      display: inline-block;
      text-align: left;
      margin-bottom: 0; }
      .header-container .header-title ul.list-inline > li.avatar.label-bottom .label {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: normal;
        display: block; }

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 100%;
  height: 300px; }

button.btn-primary a {
  color: #f2f2f2; }

button.btn-primary a:hover {
  color: #FFF;
  text-decoration: none; }

.btn-calltoaction {
  margin: 5px 0 15px 0;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(79, 79, 79, 0.65);
  -moz-box-shadow: 0px 0px 10px 0px rgba(79, 79, 79, 0.65);
  box-shadow: 0px 0px 10px 0px rgba(79, 79, 79, 0.65);
  transition: all 0.3s ease;
  z-index: 99; }
  .btn-calltoaction:hover .glyphicon {
    opacity: 1;
    transition: all 0.3s ease; }
  .btn-calltoaction .glyphicon {
    color: #FFFFFF;
    opacity: 0.5;
    top: 1px; }
  .btn-calltoaction .btn-text {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    padding-left: 10px;
    margin-left: 5px;
    font-size: 20px;
    color: #FFFFFF; }
  .btn-calltoaction.btn-default .glyphicon {
    color: #333; }
  .btn-calltoaction.btn-default .btn-text {
    border-left: 1px solid rgba(145, 145, 145, 0.25);
    color: #666; }
  @media only screen and (max-width: 768px) {
    .btn-calltoaction {
      position: fixed;
      bottom: 30px;
      right: 20px; } }

.row-no-padding > .col-md-12 {
  padding-right: 0;
  padding-left: 0; }

.glyphicon {
  top: 2px; }

.close {
  font-size: 32px;
  font-weight: normal;
  line-height: 15px; }

.box {
  position: relative;
  padding: 0 15px 15px;
  margin-bottom: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(179, 179, 179, 0.2);
  -moz-box-shadow: 0px 0px 3px 0px rgba(179, 179, 179, 0.2);
  box-shadow: 0px 0px 3px 0px rgba(179, 179, 179, 0.2); }
  .box .box-header {
    margin: 0px -15px 0px -15px;
    padding: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px; }
    .box .box-header .h2.box-title,
    .box .box-header h2.box-title {
      text-align: left;
      margin: 15px 0 15px 0; }
      .box .box-header .h2.box-title a,
      .box .box-header h2.box-title a {
        font-size: 36px;
        font-weight: bold;
        transition: all 0.3s ease; }
        .box .box-header .h2.box-title a:hover, .box .box-header .h2.box-title a:visited, .box .box-header .h2.box-title a:active, .box .box-header .h2.box-title a:focus, .box .box-header .h2.box-title a:visited,
        .box .box-header h2.box-title a:hover,
        .box .box-header h2.box-title a:visited,
        .box .box-header h2.box-title a:active,
        .box .box-header h2.box-title a:focus,
        .box .box-header h2.box-title a:visited {
          text-decoration: none; }
  .box .users {
    position: absolute;
    right: 0;
    bottom: 40px; }
  .box .box-footer {
    margin: 0 -15px -15px -15px;
    border-top: 1px solid #e7e7e7;
    padding: 15px;
    background-color: #f8f8f8;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
    @media only screen and (max-width: 992px) {
      .box .box-footer {
        border-top: 1px solid #e7e7e7; } }
    .box .box-footer h3 {
      margin: 0; }
    .box .box-footer.status-1 {
      color: #337ab7; }
    .box .box-footer.status-2 {
      color: #9b1003; }
    .box .box-footer.status-3 {
      color: #ed984c; }
    .box .box-footer.status-4 {
      color: #2e753f; }
    .box .box-footer.status-5 {
      color: #000000; }

.color-primary {
  color: white;
  background-color: #337ab7; }
  .color-primary a {
    color: #9fc4e4; }
    .color-primary a:hover {
      color: white; }
  .color-primary .btn-link {
    color: white; }
  .color-primary .close {
    color: white;
    opacity: 0.5; }
    .color-primary .close:hover {
      opacity: 1; }

.color-lightgrey {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7; }

.top-right {
  position: absolute;
  top: 0;
  right: 0; }

.modal .modal-header {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }
  .modal .modal-header .close {
    text-shadow: none; }
.modal .modal-footer {
  background-color: #f8f8f8;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.payment-list ul.refine > li:last-child {
  border-bottom-width: 2px; }

.avatar-list .col-md-12 {
  padding: 5px 0px;
  border-bottom: 1px solid #e7e7e7; }
  .avatar-list .col-md-12:last-child {
    border-bottom: none; }
  @media only screen and (max-width: 992px) {
    .avatar-list .col-md-12 {
      border-bottom: none; } }
  .avatar-list .col-md-12 .btn {
    margin-top: 3px; }
  .avatar-list .col-md-12.checkbox-inside {
    padding-left: 30px; }

.avatar.label-bottom {
  width: 50px;
  padding: 0 5px;
  text-align: center; }
  .avatar.label-bottom .avatar-img {
    width: 40px; }
  .avatar.label-bottom .avatar-name {
    width: 100%;
    font-weight: bold; }
  .avatar.label-bottom input[type='checkbox'] {
    width: 100%;
    margin-left: 10px;
    margin-top: -10px; }
  .avatar.label-bottom .label {
    margin-top: 3px;
    display: inherit;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333; }
.avatar.label-right {
  width: 100%;
  padding: 0 5px;
  text-align: center; }
  .avatar.label-right .avatar-img {
    margin-top: 0;
    float: left;
    width: 40px; }
  .avatar.label-right .avatar-name {
    float: left;
    margin: 10px; }
  .avatar.label-right input[type='checkbox'] {
    left: 35px;
    top: 16px; }
.avatar .avatar-add {
  border: 2px dotted #285f8f;
  height: 35px !important;
  width: 35px !important;
  margin: 0px auto 3px;
  border-radius: 20px;
  background-color: white; }
  .avatar .avatar-add:before {
    content: "+";
    font-size: 22px;
    color: #285f8f;
    font-weight: bold; }
.avatar input[type=checkbox] + .avatar-img {
  opacity: 0.3; }
  .avatar input[type=checkbox] + .avatar-img + .avatar-name {
    color: #c4c4c4; }
.avatar input[type=checkbox]:checked + .avatar-img {
  opacity: 1; }
  .avatar input[type=checkbox]:checked + .avatar-img + .avatar-name {
    color: #333;
    font-weight: bold; }

.avatar-img {
  width: 40px;
  margin-top: 5px; }
  .avatar-img.circle {
    border-radius: 20px; }

label[for='avatar-1'] {
  background: url("../files/Users/avatars/avatar-1.png"); }

label[for='avatar-2'] {
  background: url("../files/Users/avatars/avatar-2.png"); }

label[for='avatar-3'] {
  background: url("../files/Users/avatars/avatar-3.png"); }

label[for='avatar-4'] {
  background: url("../files/Users/avatars/avatar-4.png"); }

label[for='avatar-5'] {
  background: url("../files/Users/avatars/avatar-5.png"); }

label[for='avatar-6'] {
  background: url("../files/Users/avatars/avatar-6.png"); }

label[for='avatar-7'] {
  background: url("../files/Users/avatars/avatar-7.png"); }

label[for='avatar-8'] {
  background: url("../files/Users/avatars/avatar-8.png"); }

label[for='avatar-9'] {
  background: url("../files/Users/avatars/avatar-9.png"); }

label[for='avatar-10'] {
  background: url("../files/Users/avatars/avatar-10.png"); }

label[for='avatar-11'] {
  background: url("../files/Users/avatars/avatar-11.png"); }

label[for='avatar-12'] {
  background: url("../files/Users/avatars/avatar-12.png"); }

label[for='avatar-13'] {
  background: url("../files/Users/avatars/avatar-13.png"); }

label[for='avatar-14'] {
  background: url("../files/Users/avatars/avatar-14.png"); }

label[for='avatar-15'] {
  background: url("../files/Users/avatars/avatar-15.png"); }

label[for='avatar-16'] {
  background: url("../files/Users/avatars/avatar-16.png"); }

label[for='avatar-17'] {
  background: url("../files/Users/avatars/avatar-17.png"); }

label[for='avatar-18'] {
  background: url("../files/Users/avatars/avatar-18.png"); }

label[for='avatar-19'] {
  background: url("../files/Users/avatars/avatar-19.png"); }

label[for='avatar-20'] {
  background: url("../files/Users/avatars/avatar-20.png"); }

label[for='avatar-21'] {
  background: url("../files/Users/avatars/avatar-21.png"); }

label[for='avatar-22'] {
  background: url("../files/Users/avatars/avatar-22.png"); }

label[for*='avatar-'] {
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 5px 0; }

input[type=radio].avatar {
  margin: 45px 20px 5px 20px; }

@media only screen and (max-width: 768px) {
  nav form.form-inline {
    margin-top: 12px; }

  nav form.form-inline .col-lg-12 {
    padding-right: 0;
    padding-left: 0; } }
a.glyphicon-btn {
  display: inline-block;
  cursor: pointer;
  cursor: hand; }

.map-icon {
  font-size: 18px; }

/* PLAN : Actions */
.actions .actions-day {
  border-top: 1px solid #CCCCCC; }
  .actions .actions-day .actions-date {
    margin-top: 40px;
    font-size: 32px;
    color: #a3a3a3; }

.action {
  line-height: 1em;
  margin: 40px 0 15px 0; }
  .action .dotIcon {
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #666666;
    background: #FFF;
    display: block;
    margin: 3px auto;
    z-index: 2;
    position: relative; }
    .action .dotIcon.status-1 {
      border-color: #337ab7; }
    .action .dotIcon.status-2 {
      border-color: #9b1003; }
    .action .dotIcon.status-3 {
      border-color: #ed984c; }
    .action .dotIcon.status-4 {
      border-color: #2e753f; }
    .action .dotIcon.status-5 {
      border-color: #b3b3b3; }
  .action .start {
    float: left;
    padding: 0 5px; }
  .action .end {
    float: right;
    padding: 0 5px; }
  .action .time {
    color: gray;
    font-size: smaller;
    height: 20px; }
  .action .name {
    font-size: small;
    min-height: 15px; }
  .action .line {
    position: absolute;
    height: 2px;
    margin: 8px 15%;
    width: 70%;
    z-index: 0; }
    .action .line .cut {
      height: 16px;
      border-left-width: 2px;
      border-right-width: 2px;
      border-left-style: solid;
      border-right-style: solid;
      background-color: #eeeeee;
      position: absolute;
      top: -7px;
      left: 70%;
      text-align: center;
      padding: 0 3px; }
    .action .line.status-1 .cut {
      color: #337ab7;
      border-left-color: #337ab7;
      border-right-color: #337ab7; }
    .action .line.status-2 .cut {
      color: #9b1003;
      border-left-color: #9b1003;
      border-right-color: #9b1003; }
    .action .line.status-3 .cut {
      color: #ed984c;
      border-left-color: #ed984c;
      border-right-color: #ed984c; }
    .action .line.status-4 .cut {
      color: #2e753f;
      border-left-color: #2e753f;
      border-right-color: #2e753f; }
    .action .line.status-5 .cut {
      color: #000;
      border-left-color: #000;
      border-right-color: #000; }
  .action .time, .action .icons, .action .name {
    line-height: 15px;
    position: relative; }
  .action .map-icon {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -42px;
    font-size: 32px;
    width: 42px; }
  .action .start, .action .end {
    text-align: center;
    width: 30%;
    font-size: 15px;
    margin-bottom: 5px; }
  .action.start-end .start, .action.start-end .end {
    width: 100%; }
  .action.start-end .time .start {
    margin-left: -42px;
    margin-top: -9px; }
  .action.start-end .name .start {
    margin-top: -52px;
    width: 50%;
    text-align: left;
    margin-left: 50%;
    padding-left: 28px; }
  .action .action-name {
    font-size: 16px;
    font-weight: bold; }

.table-budget th, .table-budget td {
  text-align: center; }

/* ICON TYPES */
.map-icon-type-99:before {
  content: "?";
  padding: 0 6px;
  font-weight: bold;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 2px;
  padding-left: 9px; }

.map-icon-type-1:before {
  content: "\e802"; }

.map-icon-type-2:before {
  content: "\e89d"; }

.map-icon-type-3:before {
  content: "\e899"; }

.map-icon-type-4:before {
  content: "\e81c"; }

.map-icon-type-5:before {
  content: "\e817"; }

.map-icon-type-6:before {
  content: "\e812"; }

.map-icon-type-7:before {
  content: "\e860"; }

.map-icon-type-8:before {
  content: "\e8a5"; }

.map-icon-type-9:before {
  content: "T";
  padding: 0 6px;
  font-weight: bold;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 2px;
  padding-left: 7px; }

.map-icon-type-10:before {
  content: "\e85a"; }

.map-icon-type-11:before {
  content: "\e87b"; }

.map-icon-type-12:before {
  content: "\e819"; }

.map-icon-type-13:before {
  content: "L";
  padding: 0 8px;
  font-weight: bold;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 24px; }

.map-icon-type-20:before {
  content: "\e87a"; }

.map-icon-type-21:before {
  content: "\e866"; }

.map-icon-type-22:before {
  content: "\e884"; }

.map-icon-type-23:before {
  content: "\e864"; }

.map-icon-type-24:before {
  content: "\e83b"; }

.map-icon-type-25:before {
  content: "\e862"; }

.map-icon-type-26:before {
  content: "A";
  padding: 0 5px;
  font-weight: bold;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 24px; }

.map-icon-type-30:before {
  content: "\e80b";
  position: relative;
  left: 2px; }

.map-icon-type-31:before {
  content: "\e808"; }

.map-icon-type-32:before {
  content: "\e877"; }

.col-arrow {
  position: relative; }
  @media only screen and (max-width: 768px) {
    .col-arrow {
      display: none; } }
  .col-arrow .arrow-line {
    border-bottom: 2px solid #666;
    margin-top: 15px; }
    .col-arrow .arrow-line i.arrow.right {
      position: absolute;
      top: 12px;
      right: 14px; }

.input-group-btn i.arrow {
  border-width: 0 1px 1px 0;
  padding: 2px;
  margin: 2px 0px 3px 8px; }

ul.refine {
  padding-left: 0; }
  ul.refine > li {
    padding: 5px 0px;
    border-bottom: 1px solid #e7e7e7;
    list-style-type: none; }

i.arrow {
  border: solid #666;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px; }
  i.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  i.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg); }
  i.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }
  i.arrow.down {
    transform: rotate(45deg); }

.map-icon-status {
  padding: 5px;
  border-radius: 6px; }

.map-icon-btn {
  padding: 0;
  text-align: center;
  margin-bottom: 0; }
  .map-icon-btn .map-icon-button {
    margin: 10px 3px;
    float: left;
    width: 50px; }
    .map-icon-btn .map-icon-button .map-icon-name {
      margin-top: 5px;
      line-height: 15px; }
    .map-icon-btn .map-icon-button .map-icon {
      font-size: 30px;
      background-color: #b3b3b3;
      color: white; }
      .map-icon-btn .map-icon-button .map-icon.status-.active, .map-icon-btn .map-icon-button .map-icon.status-:hover, .map-icon-btn .map-icon-button .map-icon.status-0.active, .map-icon-btn .map-icon-button .map-icon.status-0:hover, .map-icon-btn .map-icon-button .map-icon.status-1.active, .map-icon-btn .map-icon-button .map-icon.status-1:hover {
        background-color: #337ab7; }
      .map-icon-btn .map-icon-button .map-icon.status-2.active, .map-icon-btn .map-icon-button .map-icon.status-2:hover {
        background-color: #9b1003; }
      .map-icon-btn .map-icon-button .map-icon.status-3.active, .map-icon-btn .map-icon-button .map-icon.status-3:hover {
        background-color: #ed984c; }
      .map-icon-btn .map-icon-button .map-icon.status-4.active, .map-icon-btn .map-icon-button .map-icon.status-4:hover {
        background-color: #2e753f; }
      .map-icon-btn .map-icon-button .map-icon.status-5.active, .map-icon-btn .map-icon-button .map-icon.status-5:hover {
        background-color: #000000; }
    .map-icon-btn .map-icon-button:hover {
      cursor: pointer;
      cursor: hand; }
    .map-icon-btn .map-icon-button li {
      display: initial; }

.status-0 {
  background-color: #b3b3b3;
  color: white; }

.status-1 {
  background-color: #337ab7;
  color: white; }

.status-2 {
  background-color: #9b1003;
  color: white; }

.status-3 {
  background-color: #ed984c;
  color: white; }

.status-4 {
  background-color: #2e753f;
  color: white; }

.status-5 {
  background-color: #000000;
  color: white; }

.navigation {
  color: lightgray; }
  .navigation > a {
    color: white;
    display: inline-block; }

.message {
  background-color: #337ab7;
  color: #ffffff;
  line-height: 2em;
  width: 100%;
  text-align: center; }

.truncate-2lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.text-lightgrey {
  color: lightgrey; }

.dropdown-caret:before {
  content: ">";
  display: inline-block;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  margin-left: 0.4em; }

div.tipPayment {
  font-size: 11px;
  border-bottom: 1px solid #222222;
  padding: 1px 0; }
  div.tipPayment:last-child {
    border-bottom: none; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle; }
.table tr.date-separation > td {
  background-color: #e2e2e2;
  color: #818181;
  font-size: larger;
  padding: 2px; }
.table tr.sum {
  border-top: 3px solid #b3b3b3; }

@media only screen and (max-width: 768px) {
  .responsive-table,
  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: block; }

  .responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .responsive-table tr {
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px; }
    .responsive-table tr.date-separation {
      padding-top: 0px;
      padding-bottom: 0px; }

  .responsive-table,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr:last-child {
    border: none !important; }

  .responsive-table td {
    position: relative;
    padding-left: 50% !important;
    white-space: normal;
    text-align: left; }
    .responsive-table td.no-padding-sm {
      padding-left: 6px !important;
      text-align: center; }
      .responsive-table td.no-padding-sm.date {
        font-size: 20px; }
    .responsive-table td h1, .responsive-table td h2, .responsive-table td h3, .responsive-table td h4, .responsive-table td h5, .responsive-table td h6 {
      margin: 0; }

  .responsive-table td:before {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 50%;
    padding-right: 15px;
    overflow: hidden;
    text-align: right;
    font-weight: bold;
    content: attr(data-title);
    white-space: nowrap;
    text-overflow: ellipsis; }

  .responsive-table input,
  .responsive-table select {
    max-width: 80px; }

  .responsive-table > thead > tr > th,
  .responsive-table > thead > tr > td,
  .responsive-table > tbody > tr > th,
  .responsive-table > tbody > tr > td,
  .responsive-table > tfoot > tr > th,
  .responsive-table > tfoot > tr > td {
    padding: 6px; }
    .responsive-table > thead > tr > th:before,
    .responsive-table > thead > tr > td:before,
    .responsive-table > tbody > tr > th:before,
    .responsive-table > tbody > tr > td:before,
    .responsive-table > tfoot > tr > th:before,
    .responsive-table > tfoot > tr > td:before {
      display: table-cell;
      vertical-align: middle; } }
/*FOR GOOGLE MAP*/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 500px;
  width: 100%;
  border: 1px solid darkgray; }

.controls {
  margin-top: 10px;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  border-radius: 4px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent; }

#pac-input-start {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  position: relative; }

#pac-input-end {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-right: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  position: relative; }
  @media only screen and (max-width: 768px) {
    #pac-input-end {
      margin-top: 50px !important; } }

#pac-input:focus {
  border-color: #337ab7; }

.pac-container {
  font-family: Roboto; }

#type-selector {
  color: #fff;
  background-color: #337ab7;
  padding: 5px 11px 0px 11px; }

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }
