@import url(map-icons.css);
body {
  background-color: #f6f6f6;
  padding-top: 70px;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif; }

button.btn-primary a {
  color: #f2f2f2; }

button.btn-primary a:hover {
  color: #FFF;
  text-decoration: none; }

a.glyphicon-btn {
  display: inline-block;
  cursor: pointer;
  cursor: hand; }

@media only screen and (max-width: 768px) {
  nav form.form-inline {
    margin-top: 12px; }

  nav form.form-inline .col-lg-12 {
    padding-right: 0;
    padding-left: 0; } }
.map-icon {
  font-size: 18px; }

/* PLAN : Actions */
.actions .actions-day {
  border-top: 1px solid #CCCCCC; }
  .actions .actions-day .actions-date {
    margin-top: 15px;
    font-size: 20px;
    color: #777777; }

.action {
  line-height: 1em;
  margin: 15px 0; }
  .action .dotIcon {
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #666666;
    background: #FFF;
    display: block;
    margin: 3px auto;
    z-index: 2;
    position: relative; }
    .action .dotIcon.status-1 {
      border-color: #264f9b; }
    .action .dotIcon.status-2 {
      border-color: #9b1003; }
    .action .dotIcon.status-3 {
      border-color: #ed984c; }
    .action .dotIcon.status-4 {
      border-color: #2e753f; }
    .action .dotIcon.status-5 {
      border-color: #0e693a; }
  .action .start {
    float: left; }
  .action .end {
    float: right; }
  .action .time {
    color: gray;
    font-size: smaller;
    min-height: 15px; }
  .action .name {
    font-size: small;
    min-height: 15px; }
  .action .line {
    position: absolute;
    height: 2px;
    margin: 8px 15%;
    width: 70%;
    z-index: 0; }
  .action .time, .action .icons, .action .name {
    line-height: 15px;
    position: relative; }
  .action .map-icon {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -12px;
    font-size: 32px;
    width: 42px; }
  .action .start, .action .end {
    text-align: center;
    width: 30%;
    font-size: 15px; }

.table-budget th, .table-budget td {
  text-align: center; }

/* ICON TYPES */
.map-icon-type-0:before {
  content: "?";
  padding: 0 6px;
  font-weight: bold;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 24px; }

.map-icon-type-1:before {
  content: "\e802"; }

.map-icon-type-2:before {
  content: "\e89d"; }

.map-icon-type-3:before {
  content: "\e899"; }

.map-icon-type-4:before {
  content: "\e81c"; }

.map-icon-type-5:before {
  content: "\e817"; }

.map-icon-type-6:before {
  content: "\e812"; }

.map-icon-type-7:before {
  content: "\e860"; }

.map-icon-type-8:before {
  content: "\e8a5"; }

.map-icon-type-9:before {
  content: "T";
  padding: 0 6px;
  font-weight: bold;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 24px; }

.map-icon-type-10:before {
  content: "\e85a"; }

.map-icon-type-11:before {
  content: "\e87b"; }

.map-icon-type-12:before {
  content: "\e819"; }

.map-icon-type-13:before {
  content: "L";
  padding: 0 8px;
  font-weight: bold;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 24px; }

.map-icon-type-20:before {
  content: "\e87a"; }

.map-icon-type-21:before {
  content: "\e866"; }

.map-icon-type-22:before {
  content: "\e884"; }

.map-icon-type-23:before {
  content: "\e864"; }

.map-icon-type-24:before {
  content: "\e83b"; }

.map-icon-type-25:before {
  content: "\e862"; }

.map-icon-type-26:before {
  content: "A";
  padding: 0 5px;
  font-weight: bold;
  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 24px; }

.map-icon-type-30:before {
  content: "\e80b"; }

.map-icon-type-31:before {
  content: "\e808"; }

.map-icon-type-32:before {
  content: "\e877"; }

.map-icon-status {
  padding: 5px;
  border-radius: 6px; }

.map-icon-button {
  margin: 10px 3px;
  float: left;
  width: 50px; }
  .map-icon-button .map-icon-name {
    margin-top: 5px;
    line-height: 15px; }
  .map-icon-button .map-icon {
    font-size: 30px; }
  .map-icon-button:hover {
    cursor: pointer;
    cursor: hand; }
    .map-icon-button:hover .map-icon {
      background-color: #264f9b; }

.map-icon-btn {
  list-style: none; }
  .map-icon-btn li {
    display: initial; }

.status-0 {
  background-color: #666666;
  color: white; }

.status-1, .active {
  background-color: #264f9b;
  color: white; }

.status-2 {
  background-color: #9b1003;
  color: white; }

.status-3 {
  background-color: #ed984c;
  color: white; }

.status-4 {
  background-color: #2e753f;
  color: white; }

.status-5 {
  background-color: #000000;
  color: white; }

.message {
  background-color: #00b3ee;
  color: #ffffff;
  line-height: 3em;
  width: 100%;
  text-align: center; }

.box {
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(179, 179, 179, 0.2);
  -moz-box-shadow: 0px 0px 3px 0px rgba(179, 179, 179, 0.2);
  box-shadow: 0px 0px 3px 0px rgba(179, 179, 179, 0.2); }

div.tipPayment {
  font-size: 11px;
  border-bottom: 1px solid #222222;
  padding: 1px 0; }
  div.tipPayment:last-child {
    border-bottom: none; }

@media only screen and (max-width: 768px) {
  .responsive-table,
  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: block; }

  .responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .responsive-table tr {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px; }

  .responsive-table,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr:last-child {
    border: none !important; }

  .responsive-table td {
    position: relative;
    padding-left: 35% !important;
    white-space: normal;
    text-align: left; }

  .responsive-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 30%;
    padding-right: 10px;
    overflow: hidden;
    text-align: right;
    font-weight: bold;
    content: attr(data-title);
    white-space: nowrap;
    text-overflow: ellipsis; }

  .responsive-table input,
  .responsive-table select {
    max-width: 80px; }

  .responsive-table > thead > tr > th,
  .responsive-table > thead > tr > td,
  .responsive-table > tbody > tr > th,
  .responsive-table > tbody > tr > td,
  .responsive-table > tfoot > tr > th,
  .responsive-table > tfoot > tr > td {
    padding: 6px; } }
