<ol class="breadcrumb" ng-init="loadTripDetails(); getActionTypes();">
    <li><a href="#/trips">All trips</a></li>
    <li><a href="#/trips/{{action.trip_id}}">{{trip.name}}</a></li>
    <li class="active">{{action.name}}<span ng-hide="action.id">New action</span></li>
</ol>
<h1 class="page-header">Add/Update an action</h1>
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Action name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" ng-model="action.name">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="type_id" class="col-sm-3 control-label">Type</label>
                <div class="col-sm-9">
                    <!-- TODO: ng-selected is not working. Make the options select automatically with ng-options? : https://docs.angularjs.org/api/ng/directive/ngOptions-->
                    <select class="form-control" id="type_id" ng-model="action.type_id" >
                        <option ng-repeat="type in types" ng-value="type.id" ng-selected="type.id == action.type_id">{{type.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-5">
            <h3>START</h3>
            <div class="form-group">
                <label for="start_name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="start_name" placeholder="name" ng-model="action.start_name">
                </div>
                <div class="col-sm-4"><button role="button" class="btn btn-default" data-toggle="modal" data-target="#placeSearchStart"><span class="glyphicon glyphicon-map-marker"></span> Localize</button></div>
            </div>
            <div class="form-group">
                <label for="start_date" class="col-sm-2 control-label">Date</label>
                <div class='input-group date col-sm-9' id='start_datetimepicker'>
                    <input type='text' class="form-control" id="start_date" ng-model="action.start_date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center h3">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="col-md-5">
            <h3>END</h3>
            <div class="form-group">
                <label for="end_name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="end_name" placeholder="name" ng-model="action.end_name">
                </div>
                <div class="col-sm-3"><button role="button" class="btn btn-default" data-toggle="modal" data-target="#placeSearchEnd""><span class="glyphicon glyphicon-map-marker"></span> Localize</button></div>
            </div>
            <div class="form-group">
                <label for="end_date" class="col-sm-2 control-label">Date</label>
                <div class='input-group date col-sm-9' id='end_datetimepicker'>
                    <input type='text' class="form-control" id="end_date" ng-model="action.end_date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="company" class="col-sm-3 control-label">Company</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="company" placeholder="company" ng-model="action.company">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="identifier" class="col-sm-3 control-label">Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="identifier" placeholder="number" ng-model="action.identifier">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="booking" class="col-sm-3 control-label">Booking</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="booking" placeholder="booking"  ng-model="action.reservation">
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <label for="note" class="col-sm-1 control-label">Notes</label>
        <div class="col-md-11">
            <textarea class="form-control" rows="3" id="note" ng-model="action.note"></textarea>
        </div>
    </div>
    <hr/>
    <div class="row">
        <label for="price" class="col-sm-1 control-label">Price</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="price" placeholder="price" ng-model="action.price">
        </div>
        <div class="col-md-1">
            <select class="form-control" id="currency" ng-model="action.currency">
                <option value="1" selected="selected">CHF</option>
                <option value="2">USD</option>
                <option value="3">...</option>
            </select>
        </div>
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary pull-right" ng-click="addAction()" ng-hide="action.id">Add</button>
    <button type="submit" class="btn btn-primary pull-right" ng-click="updateAction(action.id)" ng-show="action.id">Update</button>
</form>

<!--MODAL to get https://developers.google.com/maps/documentation/javascript/examples/places-searchbox-->
<!-- Modal -->
<div class="modal fade" id="placeSearchStart" tabindex="-1" role="dialog" aria-labelledby="End">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search for the start</h4>
            </div>
            <div class="modal-body">
                map here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
