<h1>My trips
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#tripSettings">
        <span class="glyphicon glyphicon-plus"></span> Add a trip
    </button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#tripParticipants">
        <span class="glyphicon glyphicon-plus"></span> Add participants
    </button>
</h1>
<div class="modal fade" tabindex="-1" role="dialog" id="tripSettings">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Add a trip</h2>
            </div>
            <form class="form-horizontal" method="post" accept-charset="utf-8">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tripName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="tripName" placeholder="Trip Name" ng-model="tripToAdd.name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="tripNameBTN">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="addTrip" ng-click="addTrip()" data-target="#tripParticipants" data-dismiss="modal">Next</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="tripParticipants">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Add friends</h2>
            </div>
            <form class="form-horizontal" id="shareFriends" method="post" accept-charset="utf-8">
                <div class="modal-body">
                    <h4>Friends that share this trip</h4>
                    <input class="hidden" ng-model="tripCurrentUserToAdd.user_id" content="{{currentUserId}}">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">email</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="email" placeholder="Enter friend's email address">
                        </div>
                        <button type="button" class="btn btn-default" ng-click="tripAddUser()">Add</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="addTrip" ng-click="tripAddUser()" data-dismiss="modal">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="box" ng-repeat="trip in trips">
    <div class="row">
        <div class="trip clearfix">
            <div class="col-md-9 mainContent">
                <h4 class="trip-title">{{trip.name}}</h4>
            </div>
        </div>
    </div>
</div>

<p>You are logged as {{currentUserEmail}}</p>

