<ol class="breadcrumb" ng-init="loadTripDetails()">
    <li><a href="#/trips">All trips</a></li>
    <li><a href="#/trips/{{trip.id}}">{{trip.name}}</a></li>
</ol>
<div id="tripDetail">
    <h1>{{trip.name}}
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal">
            <a href="#/trips/{{trip.id}}/action"><span class="glyphicon glyphicon-plus"></span> Add an action</a>
        </button>
    </h1>
    <div class="action" ng-repeat="action in trip.actions">
        <h3><a href="#trips/{{trip.id}}/action/{{action.id}}">{{action.name}}</a> (id={{action.id}})</h3>
        <div class="actionDetails">
            <pre>{{action}}</pre>
            <ul class="list-inline">
                <li>action type: {{action.type_id}}</li>
                <li ng-show="action.start_date != null">departure: {{action.start_date}}</li>
                <li ng-show="action.end_date != null">arrival: {{action.end_date}}</li>
                <li ng-show="action.company != null">company: {{action.company}}</li>
                <li ng-show="action.identifier != null">identifier: {{action.identifier}}</li>
                <li ng-show="action.reservation != null">reservation: {{action.reservation}}</li>
            </ul>
        </div>
    </div>
</div>
